@import url(https://fonts.googleapis.com/css?family=Varela+Round);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#estilo-botones-correcto {
  height: 50px;
  width: 400px;
  background-color: green;
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#estilo-botones-incorrecto {
  height: 50px;
  width: 400px;
  background-color: rgb(167, 43, 43);
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body {
  min-height: 90vh;
  display: grid;
  background-image: url(./imagenes/fondo-juego.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.contenidoJuego {
  display: grid;
  align-items: center;
  margin-top: -120px;
}

.contenedor-objetos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  place-items: center;
}

.imagen {
  border-radius: 5px;
}

.pregunta {
  color: #fff;
  background-color: #001220;
}

#estilo-botones {
  height: 50px;
  width: 400px;
  background-color: #3498db;
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

#estilo-botones::before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.3s ease-in-out;
}

#estilo-botones:hover {
  background-color: #4ff7c4;
  transform: translateX(15px);
}

#estilo-botones:hover::before {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.imagen {
  height: 380px;
  width: 500px;
}

.pregunta {
  font-family: monospace;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.contenedor-puntajes {
  height: 150px;
  text-align: right;
  background-color: #001220;
  border: #4ff7c4 solid;
  padding: 20px;
  font-size: 25px;
  font-family: monospace;
  color: #fff;
  margin-left: auto;
}

#botonSiguiente {
  display: grid;
  place-items: center;
}

.botonFuncion {
  height: 40px;
  width: 130px;
  background-color: #3498db;
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.botonFuncion::before {
  content: "";
  background-color: green;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.3s ease-in-out;
}

.botonFuncion:hover {
  background-color: rgb(247, 252, 247);
  transform: translateX(15px);
}

.botonFuncion:hover::before {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.aciertosAnimacion {
  animation-name: aciertos;
  animation-duration: 4s;
}

@keyframes aciertos {
  from {
    color: green;
  }
}
.erroresAnimacion {
  animation-name: errores;
  animation-duration: 4s;
}

@keyframes errores {
  from {
    color: red;
  }
}
.puntosAnimacion {
  animation-name: puntos;
  animation-duration: 4s;
}

@keyframes puntos {
  from {
    color: green;
  }
}
.puntosNegativosAnimacion {
  animation-name: puntosNegativos;
  animation-duration: 4s;
}

@keyframes puntosNegativos {
  from {
    color: red;
  }
}
.body-menu {
  min-height: 90vh;
  display: grid;
  place-items: center;
  background-image: url(./imagenes/fondo-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.botonMenu {
  padding: 11px;
  text-decoration: none;
  background-color: #3498db;
  text-align: center;
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.botonMenu::before {
  content: "";
  background-color: green;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.3s ease-in-out;
}

.botonMenu:hover {
  background-color: rgb(247, 252, 247);
  transform: translateX(15px);
}

.botonMenu:hover::before {
  left: 0;
  transition: left 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .imagen {
    height: 280px;
    width: 400px;
  }
  .pregunta {
    font-size: 20px;
    text-align: center;
  }
  .contenedor-puntajes {
    height: 110px;
    padding: 10px;
    font-size: 20px;
  }
  .botonFuncion {
    height: 30px;
    width: 120px;
  }
  #estilo-botones {
    height: 30px;
    width: 380px;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .imagen {
    height: 180px;
    width: 270px;
  }
  .pregunta {
    font-size: 14px;
    text-align: center;
  }
  .contenedor-puntajes {
    height: 70px;
    padding: 10px;
    font-size: 10px;
  }
  .botonFuncion {
    height: 20px;
    width: 90px;
    font-size: 10px;
  }
  #estilo-botones {
    height: 30px;
    width: 250px;
    font-size: 10px;
  }
  .class-popup {
    width: 300px !important;
    height: 300px !important;
    background-color: #001220;
    border: #4ff7c4 solid 2px;
  }
  .class-title {
    font-family: monospace;
    color: #4ff7c4;
    font-size: 25px !important;
  }
  .swal {
    font-family: monospace;
    font-size: 20px !important;
    color: #4ff7c4;
  }
  .class-button {
    font-size: 10px !important;
  }
  .logo {
    font-size: 50px;
  }
  .botonMenu {
    height: 30px;
    width: 70px;
    font-size: 10px;
  }
}
.class-popup {
  width: 400px;
  height: 400px;
  background-color: #001220;
  border: #4ff7c4 solid 2px;
}

.class-title {
  font-family: monospace;
  color: #4ff7c4;
  font-size: 35px;
}

.swal {
  font-family: monospace;
  font-size: 24px;
  color: #4ff7c4;
}

.class-button {
  text-decoration: none;
  background-color: #3498db !important;
  text-align: center;
  color: black;
  font-family: monospace;
  font-weight: 600;
  font-size: 17px;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.class-button::before {
  content: "";
  background-color: green;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.3s ease-in-out;
}

.class-button:hover {
  background-color: rgb(247, 252, 247);
  transform: translateX(15px);
}

.class-button:hover::before {
  left: 0;
  transition: left 0.3s ease-in-out;
}

h1 {
  color: hsla(0, 0%, 0%, 0.9);
  font: normal 140px Varela Round, sans-serif;
  height: 140px;
  left: 0;
  letter-spacing: 5px;
  margin: -80px 0 0 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 30%;
  width: 100%;
  animation: move linear 2000ms infinite;
}

@keyframes move {
  0% {
    text-shadow: 4px -4px 0 hsl(180, 100%, 50%), 3px -3px 0 hsl(180, 100%, 50%), 2px -2px 0 hsl(180, 100%, 50%), 1px -1px 0 hsl(180, 100%, 50%), -4px 4px 0 hsl(180, 100%, 50%), -3px 3px 0 hsl(180, 100%, 50%), -2px 2px 0 hsl(180, 100%, 50%), -1px 1px 0 hsl(180, 100%, 50%);
  }
  25% {
    text-shadow: -4px -4px 0 hsl(180, 100%, 50%), 3px -3px 0 hsl(180, 100%, 50%), -2px -2px 0 hsl(180, 100%, 50%), -1px -1px 0 hsl(180, 100%, 50%), 4px 4px 0 hsl(180, 100%, 50%), 3px 3px 0 hsl(180, 100%, 50%), 2px 2px 0 hsl(180, 100%, 50%), 1px 1px 0 hsl(180, 100%, 50%);
  }
  50% {
    text-shadow: -4px 4px 0 hsl(180, 100%, 50%), -3px 3px 0 hsl(180, 100%, 50%), -2px 2px 0 hsl(180, 100%, 50%), -1px 1px 0 hsl(180, 100%, 50%), 4px -4px 0 hsl(180, 100%, 50%), 3px -3px 0 hsl(180, 100%, 50%), 2px -2px 0 hsl(180, 100%, 50%), 1px -1px 0 hsl(180, 100%, 50%);
  }
  75% {
    text-shadow: 4px 4px 0 hsl(180, 100%, 50%), 3px 3px 0 hsl(180, 100%, 50%), 2px 2px 0 hsl(180, 100%, 50%), 1px 1px 0 hsl(180, 100%, 50%), -4px -4px 0 hsl(180, 100%, 50%), -3px -3px 0 hsl(180, 100%, 50%), -2px -2px 0 hsl(180, 100%, 50%), -1px -1px 0 hsl(180, 100%, 50%);
  }
  100% {
    text-shadow: 4px -4px 0 hsl(180, 100%, 50%), 3px -3px 0 hsl(180, 100%, 50%), 2px -2px 0 hsl(180, 100%, 50%), 1px -1px 0 hsl(180, 100%, 50%), -4px 4px 0 hsl(180, 100%, 50%), -3px 3px 0 hsl(180, 100%, 50%), -2px 2px 0 hsl(180, 100%, 50%), -1px 1px 0 hsl(180, 100%, 50%);
  }
}/*# sourceMappingURL=estilos.css.map */